*.keras filter=lfs diff=lfs merge=lfs -text
backend/services/ai/models/ViT_best_MRI.keras filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
