# OS
Thumbs.db
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
frontend/.env.test.local

# Backend
backend/media/
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.sqlite3
backend/db.sqlite3
backend/.env
backend/.pytest_cache/

# Python
.venv310/
*.pyc
*.pyo
*.pyd
__pycache__/

# Logs
*.log

# IDE
.vscode/
.idea/
